*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.list{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    /* flex-wrap: wrap; */
}
.userName{
    width: 200px;
    height: 300px;
    background-color: red;
    margin-top: 10px;
    color: blue;
}

/*  Home Component Styles */
.header-content{
    width: 100%;
    height: 70vh;
    background-color: lightgray;
    position: relative;
}

/* Navbar Component Styles */

.navbar-wrapper{
    width: 90%;
    height: 60px;
    background-color: #fff;
    border-radius: 7px;
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.navbar-nav{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.navbar-menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.navbar-link{
    margin-left: 20px;
    font-size: 13px;
}
.navbar-link a{
    color: #010101;
}
.logo-box{
    width: 20%;
    height: 100%;
}
.logo-box img{
    width: 100%;
    height: 100%;
    display: block;
}
.searchBar-box{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}